 @{
    ViewData["Title"] = "Nosotros";
}



<div class="row">
  <div class="col-md-12 text-center">
    <h1>INFORMACIÓN ACERCA DE LA EMPRESA</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <img src="images/carrusel3.jpeg" alt="" width="1300px" height="450px">
    <p class="mt-3">  Somos una empresa que se dedica a la venta de prendas y accesorios en fibra de alpaca, algodón orgánico y mezclas. Con una servicio personalizado. Y además nuestra de
                maquinaria ecológica de última generación es respetuosa con el medio ambiente, capaz de producir hasta 120 000 prendas al año. </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <img src="images/logo.jpg" width="400px" height="310px">
    <h4 class="text-center">Historia:</h4>
    <p> Inkasign Outlet es una empresa orientada al rubro textil, que se dedica a la elaboración/fabricación de prendas de fibra de alpaca, algodón orgánico y mezclas para mujeres y hombres, la cual lleva en el mercado cerca de 15 años trabajando arduamente. </p>
  </div>
  <div class="col-md-4">
    <img src="images/carrusel4.jpeg" class="img-fluid">
    <h4 class="text-center">Misión:</h4>
    <p> Ofrecer productos de alta calidad incentivando el consumo de textilería peruana, a través de diseños innovadores, creativos, hechos con dedicación y acorde a la accesibilidad del mercado.</p>
  </div>
  <div class="col-md-4">
    <img src="images/carrusel2.jpeg" class="img-fluid">
    <h4 class="text-center">Visión:</h4>
    <p> Posicionarnos en el mercado como una empresa exitosa y socialmente responsable con gran reconocimiento a nivel nacional gracias a nuestros productos, calidad, precios y servicio, siempre respetando los derechos y el trabajo tanto de nuestros colaboradores como de nuestros clientes, para asi seguir creciendo y poder ofrecer nuestros productos en todo el interior del país.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Los principios que nos guían</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <img src="images/actuamos2.jpg" class="img-fluid">
    <h4 class="text-center">Actuamos</h4>
    <p> Sentimos orgullo de lo que hemos creado.</p>
  </div>
  <div class="col-md-4">
    <img src="images/mejorar.jpg" height="170px">
    <h4 class="text-center">Mejoramos</h4>
    <p>Impactamos de manera positiva en la sociedad.</p>
  </div>
  <div class="col-md-4">
    <img src="images/confianza.jpg" height="170px">
    <h4 class="text-center">Confianza</h4>
    <p> Aprendemos entre nosotros.</p>
  </div>
</div>

