html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: MintCream;
}
.bodyLIn{
background-color: red;
}

.general_home{
  background: MintCream;
}

#img1 {
  border-radius: 10%;
  width: 350px;
  height: 200px
}

#img1{
  float: right;
}





@import url(https://fonts.googleapis.com/css?family=Roboto:400);
#formulario{
  padding: 60px;
  max-width: 400px;
  background-color: #E7E7E7;
  margin: 0 auto;
}


#formulario input, #formulario textarea{
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; 
  border: none; 
  color: #525c66; 
  font-size: 1em;
  resize: none; 
}

textarea {  resize: none;}

.formulario{
  padding: 60px;
  max-width: 400px;
  background-color: #E7E7E7;
  margin: 0 auto;
}


.formulario input, .formulario textarea{
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; 
  border: none; 
  color: #525c66; 
  font-size: 1em;
  resize: none; 
}

.container123 {
	position: absolute;
	left: 85%;
	transform: translate(-100%,-70%);
	padding: 10px;
}

.input {
	outline: none;
	box-sizing: border-box;
	height: 40px;
	width: 0px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 15px;
	border: 2px solid #AB291D;
	transition: all .7s ease;
}


#btn123 {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 55px;
	height: 55px;
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .10s;
  
}

.container123:hover input {
	width: 250px;
}



