html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: MintCream;
}
.bodyLIn{
background-color: red;
}

.general_home{
  background: MintCream;
}

#img1 {
  border-radius: 10%;
  width: 350px;
  height: 200px
}

#img1{
  float: right;
}

#content{
  
  position: 100% absolute center;
  line-height: 200%;
  height: 100%;
  width: 700px;
  background: Seashell;
  margin: 0px;
  border: 3px solid;
}



@import url(https://fonts.googleapis.com/css?family=Roboto:400);
form{
  padding: 60px;
  max-width: 400px;
  background-color: #E7E7E7;
  margin: 0 auto;
}

<<<<<<< HEAD
form input, form textarea{
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; 
  border: none; 
  color: #525c66; 
  font-size: 1em;
  resize: none; 
}

textarea {  resize: none;}
=======
>>>>>>> 59fbae9b1136ccab389ea61cd8507dc0fabea49d
